.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    width: 32%;
    .search-box {
      display: flex;
      align-items: center;
      gap: 8px;

      padding: 0 20px;
      border-radius: 10px;
      background-color: #fff;
      .input {
        border-radius: inherit;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--third-color);

        padding: 10px;
        width: 100%;

        outline: none;

        &::placeholder {
          text-transform: lowercase;
        }
      }

      .btn-search {
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
        .icon {
          color: var(--third-color);
        }
      }
    }
  }

  .right {
    .btn {
      border-radius: 10px;
      padding: 10px;

      color: var(--second-color);
      background-color: #fff;
      opacity: 1;

      font-weight: 700;

      user-select: none;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}
