.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .wrapper-body {
    .wrapper-empty {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
      .empty {
        text-align: center;
      }
      .icon {
        height: 36px;
      }
    }
  }
}
