.title-img {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: inherit;
  font-weight: 600;
  opacity: 0.8;

  transform: translateY(0);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.icon-title-img {
  font-size: 0.8rem;

  color: var(--second-color);
}
